<p>This is the addItem view.</p>


{{test}}
<br> {{item}}


<br> __________________________________________
<br> __________________________________________
<br><br><br><br><br>
<div layout-gt-xs="row">
    <div flex-gt-xs>
        <h4>Opening the calendar when the input is focused</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
    </div>
</div>

<form novalidate class="form-horizontal">


{{items}}


    <div class="row">
        <div class="col-md-6">
            Name
            <input ng-model="item.name" type="text" class="form-control" placeholder="Name">
            <br>Ammount
            <input ng-model="item.ammount" type="text" class="form-control" placeholder="Ammount">
            <br>
        </div>

        <div class="col-md-6">
            Category
            <input ng-model="item.category" type="text" class="form-control" placeholder="Category">
            <br> Currency
            <input ng-model="item.currency" type="text" class="form-control" placeholder="Currency">
            <br>
        </div>
    </div>
</form>
<br>

</div>


<div class="">
    <button type="submit" ng-click="saveItem()" class="btn btn-success ">Add item</button>
</div>


<div class="">
    <button type="submit" ng-click="addCurrency()" class="btn btn-success ">Add Ratio</button>
</div>

<br>