<!--<br>
<br><br> {{iddd}} {{item}}

<br><br> {{asd}}
<br><br>
isadd{{isAdd}}
<br>
isEdiit{{isEdit}}-->


<div class="text-center" ng-if="isAdd">
    <h1>Adding </h1>
</div>

<div class="text-center" ng-if="isEdit">
    <h1>Editing </h1>
</div>



<select class="form-control" ng-model="category">
    
    <option ng-repeat="category in categories" >{{category}}</option>
  </select>

<form novalidate class="form-horizontal">

    <div class="row">
        <div class="col-md-5">
            <abm-form-group>
                <label abm-label type="floating">Item name</label>
                <input ng-model="item.name" abm-form-control>
            </abm-form-group>
            <br>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <abm-form-group>
                <label abm-label type="floating">Price</label>
                <input ng-model="item.ammount" type="number" abm-form-control>
            </abm-form-group>
            <br>
        </div>
    </div>
    <br>
    <br>


    <div layout-gt-xs="row">
        <div flex-gt-xs class="text-center">
            <md-datepicker ng-model="myDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
        </div>
    </div>
</form>
<br>

</div>



<div ng-if="isEdit">

    <button type="submit" ng-click="updateItem()" class="btn btn-success  btn-raised btn-block">Edit item</button>
</div>

<div ng-if="isAdd">

    <button type="submit" ng-click="saveItem()" class="btn btn-success  btn-raised btn-block">Add item</button>
</div>


<!--
<div class="">
    <button type="submit" ng-click="saveItem()" class="btn btn-success  btn-raised btn-block">Add item</button>
</div>
-->

<br>