<div class="text-center">
    <div flex-gt-xs>
        <md-datepicker ng-model="date" md-placeholder="date" md-open-on-focus></md-datepicker>
    </div>
</div>


<div class="">
    <button type="submit" ng-click="convert()" class="btn-lg btn-info btn-block">View Ratio</button>
</div>


</div>
<br><br><br>
<div class="jumbotron">
    <h1>{{ratio}}</h1>
</div>




<div class="row">
    <div class="col-md-6">
        <span>CountryFrom:</span>
        <select class="form-control" ng-model="countryFrom">
    <option value="">-- Select a Country --</option>
    <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
  </select>
    </div>

    <div class="col-md-6">
        <span>CountryTo:</span>
        <select class="form-control" ng-model="countryTo">
    <option value="">-- Select a Country --</option>
    <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
  </select>
    </div>
</div>

<br>

<div>
    <div class="text-center">
        <div flex-gt-xs>
            From:
            <md-datepicker ng-model="dateFrom" md-placeholder="From" md-open-on-focus></md-datepicker>

            To:
            <md-datepicker ng-model="dateTo" md-placeholder="To" md-open-on-focus></md-datepicker>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <button type="submit" ng-click="addRatio()" class="btn-lg btn-info btn-block ">Add Ratio</button>
    </div>
    <div class="col-md-6">
        <input type="number" class="form-control" placeholder="Enter value" data-ng-model="loadRatio">
    </div>
</div>