<div class="jumbotron">
  <h1>Hi!</h1>
  <p class="lead">
    <img src="images/Backpack_icon-128.png" alt="icon"><br> Always a pleasure planning your trips.
    <br> mvn spring-boot:run
  </p>

  <br>
  <br>
  <a ng-href="/#/addItem"><button type="button" class="btn btn-success  btn-raised btn-block"> Add Item <span class="glyphicon glyphicon-plus"></button> </a>
  <br>

  <!--
  <a ng-href="/#/converter"> <button type="button" class="btn btn-info  btn-raised btn-block"> Converter <i class="material-icons">attach_money</i></button>    </a>
  <br>-->

  <a ng-href="/#/history"> <button type="button" class="btn btn-primary  btn-raised btn-block"> History  <i class="material-icons">note_add</i></button> </a>
  <br>

  <a ng-href="/#/trip"> <button type="button" class="btn btn-info  btn-raised btn-block"> Trip  <i class="material-icons">archive</i></button> </a>
  <br>


  <a ng-href="/#/settings"> <button type="button" class="btn btn-warning  btn-raised btn-block"> Settings  <i class="material-icons">settings</i></button> </a>
  <br>



  <!--
  <a ng-href="/#/createEvent"> <button type="button" class="btn-lg btn-primary btn-block"> {{"views.main.CreateEvent" | translate}} <span class="glyphicon glyphicon-map-marker"></button>    </a>
-->

</div>