<div class="jumbotron">
  <h1>Hi!</h1>
  <p class="lead">
    <img src="images/Backpack_icon-128.png" alt="icon"><br> Always a pleasure planning your trips.
  </p>

  <br>
  <br>
  <a ng-href="/#/addItem"><button type="button" class="btn-lg btn-danger btn-block"> Add Item <span class="glyphicon glyphicon-plus"></button> </a>
  <br>

  <a ng-href="/#/converter"> <button type="button" class="btn-lg btn-primary btn-block"> Converter <span class="glyphicon glyphicon-usd"></button> </a>
  <br>

  <!--
  <a ng-href="/#/createEvent"> <button type="button" class="btn-lg btn-primary btn-block"> {{"views.main.CreateEvent" | translate}} <span class="glyphicon glyphicon-map-marker"></button>    </a>
-->

</div>