<div class="jumbotron">
    <br>
    <h1>
        {{name}}</h1>
    <br>

    <img src="{{image}}" class="img-responsive center-block" alt="Profile pic">

    <br><br>
    <span>Country:</span>

    <select class="form-control" ng-model="country">
    <option value="">-- Select a Country --</option>
    <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
  </select>

    <br><br>
    <h2>Current Currency: {{country}}</h2>

    <br>


    <div class="">
        <button type="submit" ng-click="saveSettings()" class="btn-lg btn-info btn-block">Save Settings</button>
    </div>

    <br><br><br>

    <h2> Personal Categories </h2>

    <input ng-model="category" type="text" ng-minlength="2" ng-required="true" class="form-control" placeholder="Name">

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="">
                <button type="submit" ng-click="addCategory()" class="btn btn-success  btn-raised ">Add Category</button>
            </div>
        </div>
    </div>

    <table class="table table-striped">

        <tr ng-repeat="c in categories">
            <td style="padding-top: 25px">{{ c }}</td>
            <td> <button type="button" ng-click="deleteCategory($index)" class="btn btn-xs">  <i class="material-icons">delete</i></button>                </td>
        </tr>
    </table>

</div>