<div class="jumbotron">

    <br>
    <h1>
{{name}}</h1>

<br>


<img src="{{image}}" class="img-responsive center-block" alt="Profile pic">

 

    <br><br>
    <span>Country:</span>

    <select class="form-control" ng-model="country">
    <option value="">-- Select a Country --</option>
    <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
  </select>

    <br>
    <br>
    <h2>Current Currency: {{country}}</h2>

    <br><br>
<!--
    <form novalidate class="form-horizontal">
        <abm-form-group>
            <label abm-label type="floating">Group Size</label>
            <input ng-model="groupSize" type="number" abm-form-control>
        </abm-form-group>
    </form>
-->

    <h2>Group Size: {{groupSize}}</h2>

    <br><br>

    <div class="">
        <button type="submit" ng-click="saveSettings()" class="btn-lg btn-info btn-block">Save Settings</button>
    </div>


</div>